body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
  

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 100%;
  margin: 0%;
}

.green {
  background-color: green;
    border-top-left-radius: 100%;
    margin: 0%;

}

.blue {
  background-color: blue;
    border-bottom-right-radius: 100%;
     margin: 0%;
}

.yellow {
  background-color: yellow;
    border-bottom-left-radius: 100%;
 margin: 0%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
